@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --logo1: #6439ff;
  --logo2: #4f75ff;
  --logo3: #00ccdd;
  --logo4: #7cf5ff;
  --text--dark: #030712;
  --text--light: #6b7280;
  --text--lighter: #f9fafb;
}

body {
  background-color: #ffffff;
  margin: 0;
  font: 1rem "Quicksand", sans-serif;
}

.Hero_logo {
  width: 10rem;
  margin: 0;
}

nav {
  justify-content: space-between;
  text-align: right;
}

a {
  text-decoration: none;
}

nav ul li {
  display: inline-block;
  margin-right: 25px;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--logo1);
  font-weight: 700;
}

.navBar a:link, .navBar a:visited {
  color: var(--logo1);
  text-decoration: none; 
}

.whoweare {
  position: relative;
  text-align: center;
  color: white;
}

.whoweare img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.textimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  padding-bottom: 50px;
}

/*Loja*/

.produtos{
  padding-top: 20px;
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.scontainer{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col4 img{
  width: 100%;
}

.title{
  text-align: center;
  margin: 0 auto 30px;
  position: relative;
  line-height: 60px;
  color:#6439ff ;
  padding-top: 20px;
}

h4{
  font-weight: normal;
}

.col4 p{
  font-size: 14px;
}

.col4:hover{
  transform: translateY(-10px);
}