@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --logo1: #6439ff;
  --logo2: #4f75ff;
  --logo3: #00ccdd;
  --logo4: #7cf5ff;
  --text--dark: #030712;
  --text--light: #6b7280;
  --text--lighter: #f9fafb;
}

body {
  background-color: #ffffff;
  margin: 0;
  font: 1rem "Quicksand", sans-serif;
}

.Hero_logo {
  width: 10rem;
  margin: 0;
}

nav {
  justify-content: space-between;
  text-align: right;
}

a {
  text-decoration: none;
}

nav ul li {
  display: inline-block;
  margin-right: 25px;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--text--dark);
  font-weight: 700;
}

.navBar a:link, .navBar a:visited {
  color: var(--text--dark);
  text-decoration: none;
  
}

.navBar a.active, .navBar a:hover {
  color: var(--logo1);
  transition: .2s;
}
