@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --logo1: #6439ff;
  --logo2: #4f75ff;
  --logo3: #00ccdd;
  --logo4: #7cf5ff;
  --text--dark: #030712;
  --text--light: #6b7280;
  --text--lighter: #f9fafb;
}

body {
  background-color: #ffffff;
  margin: 0;
  font: 1rem "Quicksand", sans-serif;
}

.Hero_logo {
  width: 10rem;
  margin: 0;
}

nav {
  justify-content: space-between;
  text-align: right;
}

a {
  text-decoration: none;
}

nav ul li {
  display: inline-block;
  margin-right: 25px;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--text--dark);
  font-weight: 700;
}

.navBar a:link, .navBar a:visited {
  color: var(--text--dark);
  text-decoration: none;
  
}

.navBar a.active, .navBar a:hover {
  color: var(--logo1);
  transition: .2s;
}

/* Produto */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.product-page {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.product-image {
  flex: 1;
  min-width: 300px;
}
.product-image img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.product-details {
  flex: 2;
  min-width: 300px;
}
.product-title {
  font-size: 2rem;
  margin-bottom: 10px;
}
.product-price {
  font-size: 1.5rem;
  color: #6439ff;
  margin-bottom: 20px;
}
.product-description {
  margin-bottom: 20px;
  line-height: 1.6;
}
.quantidade {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.quantidade button {
  width: 30px;
  height: 30px;
  font-size: 16px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
}
.quantidade input {
  width: 50px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}
.carrinho {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6439ff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.carrinho:hover {
  background-color: #6439ff;
}
.reviews {
  margin-top: 40px;
}
.review {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
.review h4 {
  margin: 0 0 10px;
}
