@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --logo1: #6439ff;
  --logo2: #4f75ff;
  --logo3: #00ccdd;
  --logo4: #7cf5ff;
  --text--dark: #030712;
  --text--light: #6b7280;
  --text--lighter: #f9fafb;
}

body {
  background-color: #ffffff;
  margin: 0;
  font: 1rem "Quicksand", sans-serif;
}

.Hero_logo {
  width: 10rem;
  margin: 0;
}

nav {
  justify-content: space-between;
  text-align: right;
}

a {
  text-decoration: none;
}

nav ul li {
  display: inline-block;
  margin-right: 25px;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Tudo até agora da Somos */

.whoweare {
  position: relative;
  text-align: center;
  color: white;
}

.whoweare img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.textimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  padding-bottom: 50px;
}

.aeugiabout {
  text-align: center;
  padding-top: 40px;
}