@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --logo1: #6439ff;
  --logo2: #4f75ff;
  --logo3: #00ccdd;
  --logo4: #7cf5ff;
  --text--dark: #030712;
  --text--light: #6b7280;
  --text--lighter: #f9fafb;
}


body{
background-color: rgba(70, 64, 64, 0.034);
}

.roboto-slab{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    
    font-style: normal;
  }
  
nav{
    justify-content: space-between;
    font-family:"Roboto Slab";
    text-align: right;
}

a {
  text-decoration: none;
}

nav ul li {
  display: inline-block;
  margin-right: 25px;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Hero_image {
  align-items: center;
}
